/* Entire Page Styling */
body {
    background-image: url("../images/background.jpg");
    background-color: rgba(0, 0, 0, 0.66);
    background-blend-mode: multiply;
    margin: 0;
    color: white;
    font-size: larger;
}

/* Header Styling */
header {
    display: flex;
    justify-content: center;
}
header div{ 
    min-height: 125px;
    max-height:125px;
    min-width: 400px;
    max-width: 400px;
    text-align: center;
}


/* Main Styling */
main {
    margin-top: 10%;
    margin-bottom: 20%;
    margin: 0 35%;
    text-align: center;
}
main li{
    text-align: left;
}
main a{
    text-decoration: none;
    color: white;
}
main img{
    padding:5% 0;
}

/* Footer Styling */
footer {
    text-align: center;
}
