/* Entire Page Styling */
body {    
    margin: 0;
    background: url(../images/background.png) repeat;
    background-size: 100%;
}

/* Header Styling */
header {
    background: url(../images/background.png) repeat;
    background-size: 100%;
    text-align: center;
    color: white;
}
header h1{
    margin: 0px;
    line-height: 150%;
}
header em{
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
    
}
/* Main Styling */
main {
    background: url(../images/background.png) repeat;
    background-size: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
    text-align: center;
}

/* Footer Styling */
footer {
    text-align: center;
}
